.demo-toolbar {
  padding: 6px; }
  .demo-toolbar .demo-toolbar-icon {
    padding: 0 14px 0 14px; }
  .demo-toolbar .demo-fill-remaining {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto; }
