.xxj-md-nav-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  .xxj-md-list-item{
    text-align: center;
    .xxj-md-raised-button{
          font-size: 0.8em;
          padding: 0.1em;
          padding-top: 0.1em;
          padding-bottom: 0.1em;
    }
  }
}
.testClass{
    color:red;
}
//@media only screen and ()