.xxj-md-nav-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  .xxj-md-list-item{
    text-align: center;
    .xxj-md-raised-button{
          font-size: 1em;
          padding: 0.5em;
          padding-top: 0.2em;
          padding-bottom: 0.2em;
    }
  }
}

//@media only screen and ()