<md-sidenav-layout class="demo-sidenav-layout">
  <md-sidenav #start (open)="myinput.focus()" mode="side">
    Start Side Drawer
    <br>
    <button md-button (click)="start.close()">Close</button>
    <br>
    <button md-button (click)="end.open()">Open End Side</button>
    <br>
    <button md-button
            (click)="start.mode = (start.mode == 'push' ? 'over' : (start.mode == 'over' ? 'side' : 'push'))">Toggle Mode</button>
    <div>Mode: {{start.mode}}</div>
    <br>
    <input #myinput>
  </md-sidenav>

  <md-sidenav #end align="end">
    End Side Drawer
    <br>
    <button md-button (click)="end.close()">Close</button>
  </md-sidenav>

  <div class="demo-sidenav-content">
    <h3>My Content</h3>
    <div>
      <header>Sidenav</header>
      <button md-button (click)="start.toggle()">Left Side Drawer</button>
      <button md-button (click)="end.toggle()">Right Side Drawer</button>
    </div>
  </div>
</md-sidenav-layout>

